{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    {% include 'requerimentos/partials/head.html' %}
    <title>{% block title %}{% endblock title %} Requerimentos</title>
</head>

<body>
    {% include 'requerimentos/partials/header.html' %}

    
    {% block content %}{% endblock content %}
    

    {% include 'requerimentos/partials/footer.html' %}

    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>