<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <style>

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        .main-header-container {
            background: greenyellow;
            padding: 10px 10px 10px;
        }

    </style>
</head>
<body>
    <header class='main-header-container'>
        <div class="main-header container">
            <h1 class="main-title">REQUERIMENTOS</h1>
        </div>
    </header>
</body>
</html>