{% extends 'global/base.html' %}
{% block content %}
<form action="">
  <!-- Email input -->
  <div class="container-login">
    <h1 class="text-center">Login</h1>
    <div class="form-outline mb-3">
      <label class="form-label" for="form2Example1">Email</label>
      <input type="email" id="form2Example1" class="form-control" />
    </div>
    <div class="form-outline mb-3">
      <label class="form-label" for="form2Example1">Senha</label>
      <input type="password" id="form2Example1" class="form-control" />
    </div>
    <div class="form-check margin">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Lembrar de mim
      </label>
    </div>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Entrar</button>
    </div>
  </div>
</form>
{% endblock content %}
