{% extends 'global/base.html' %}

{% block title %}Historico |{% endblock title %}

{% block content %}

    <div class="container">
        <h1 class="text-center mt-4">Historico de Requerimentos</h1>

        <div class="row row-cols-3 justify-content-center">
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                <h5 class="card-title">Tracamento de disciplina</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">10/06/2022</li>
                <li class="list-group-item">Em analise</li>
                </ul>
                <div class="card-body">
                <a href="#" class="card-link">Ver detalhes</a>
                </div>
            </div>

            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                <h5 class="card-title">Matricula fora do prazo</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">02/10/2021</li>
                <li class="list-group-item">Rejeitado</li>
                </ul>
                <div class="card-body">
                <a href="#" class="card-link">Ver detalhes</a>
                </div>
            </div>
            
            <div class="card m-3" style="width: 20rem;">
                <div class="card-body">
                <h5 class="card-title">Segunda chamada</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                <li class="list-group-item">23/08/2021</li>
                <li class="list-group-item">Concluido</li>
                </ul>
                <div class="card-body">
                <a href="#" class="card-link">Ver detalhes</a>
                </div>
            </div>
            
        </div>
    </div>
{% endblock content %}