{% extends 'global/base.html' %}

{% block title %}Historico |{% endblock title %}

{% block content %}

    <div class="container">
        <h1 class="text-center mt-4">Historico de Requerimentos</h1>

        <div class="row row-cols-3 justify-content-center">

            {% for requerimento in requerimentos %}
                <div class="card m-3" style="width: 20rem;">
                    <div class="card-body">
                    <h5 class="card-title">{{ requerimento.tipo }}</h5>
                    <p class="card-text">{{ requerimento.especificar }}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ requerimento.data_solicitacao }}</li>
                    <li class="list-group-item">Em analise</li>
                    </ul>
                    <div class="card-body">
                    <a href="#" class="card-link">Ver detalhes</a>
                    </div>
                </div>
            {% endfor %}
            
        </div>
    </div>
{% endblock content %}