{% extends 'global/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Home |{% endblock title %}

{% block content %}
    <h1 class="text-center mt-4">Solicite seu requerimento</h1>

    <div class="d-flex justify-content-center mt-4">
        <div class="card container" style="width: 65rem;">
            <form action="{% url 'solicita_requerimento' %}" method="POST" class="row g-3 d-flex m-4" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{ form|crispy }}
                </table>
                <input class="btn btn-primary" type="submit" value="Enviar">
            </form>
        </div>
    </div>
        
{% endblock content %}